<p>You haven't rsvp'd for game night tonight. Are you coming?</p>

<%= link_to 'Yes', group_rsvp_url(@group, request: 'new', token: @slacker.token) %>
<%= link_to 'No', group_rsvp_url(@group, request: 'pass', token: @slacker.token) %>
