<p>You haven't rsvp'd for game night tonight. Are you coming?</p>

<%= button_to "Yes", group_rsvp_url(@group, request: 'new'), method: :post %>
<%= button_to "No", group_rsvp_url(@group, request: 'pass'), method: :post %>
