<p>You haven't rsvp'd for game night tonight. Are you coming?</p>

<form action="<%= group_rsvp_url(@group, request: 'new') %>" method="POST">
  <input type="submit" value="Yes">
</form>

<form action="<%= group_rsvp_url(@group, request: 'pass') %>" method="POST">
  <input type="submit" value="No">
</form>
