<section class="main-section">
  <header class='title'>
    <h1><%= @user.name %>'s Games</h1>
  </header>

  <div class="games">
    <% if @user.boxes.any? %>
      <% @user.boxes.each do |box| %>
        <%= div_for(box) do %>
          <%= link_to "http://boardgamegeek.com/boardgame/#{box.bgg_id}" do %>
            <%= image_tag(box.image, width: 200) %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      No games yet.
    <% end %>
  </div>
</section>
