<section class="main-section">
  <header class='title'>
    <h1><%= @user.name %>'s Games</h1>
    <input class="user-search" placeholder="Filter games" />
  </header>

  <% if @games.any? %>
    <ul class="games list">
      <% @games.each do |game| %>
        <%= content_tag_for(:li, game, class: 'box box-grid') do %>
          <%= render game %>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    No games yet
  <% end %>
</section>

<script type="text/javascript">
  $('.user-search').on( "keyup", function(event) {
    var value = $(".user-search").val();
    if(value == "") {
      $(".list li").show();
    } else {
      $(".list li:has(header:contains('"+value+"'))").show();
      $(".list li:not(:has(header:contains('"+value+"')))").hide();
    }
  } );

</script>
