<section class="main-section">
  <header class='title'>
    <h1><%= @user.name %>'s Games</h1>
    <input class="user-search" placeholder="Filter games" />
  </header>

  <% if @games.any? %>
    <ul class="games list">
      <% @games.each do |game| %>
        <%= content_tag_for(:li, game, class: 'box box-grid', data: { title: game.title.downcase }) do %>
          <%= render game %>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p class="no-games user-no-games">No games yet</p>
  <% end %>
</section>

<script type="text/javascript">
  $('.user-search').on( "keyup", function(event) {
    var value = $(".user-search").val().toLowerCase();
    if(value == "") {
      $(".list li").show();
    } else {
      $(".list li[data-title*='"+value+"']").show();
      $(".list li:not([data-title*='"+value+"'])").hide();
    }
  } );

</script>
