body {
  font-family: $helvetica;
  background-color: #E2E2E2;
  color: #555;
}

.search {
  float: right;
  margin-right: 50px;
}

.group-search {
  float: right;
}

a.member {
  display: block;
}

.sections {
  width: 80%;
  margin: 0 auto;
}

.columns {
  float: left;
}

.main-section.column {
  display: inline-block;
}

.tooltip{
  display: inline;
  position: relative;
}

.tooltip:hover:after{
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  color: #fff;
  content: attr(title);
  right: 0;
  bottom: 40px;
  position: absolute;
  z-index: 98;
  width: 220px;
}

.tooltip:hover:before{
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  content: "";
  left: 8px;
  top: -10px;
  position: absolute;
  z-index: 99;
}

.centered {
  text-align: center;
}

a.accept {
  text-align: center;
  width: 30px;
  height: 30px;
  color: #FFF;
  display: inline-block;
  background: darken(#AAB971, 20);
  padding: 0;
  border: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  &:hover {
    background: darken(#AAB971, 20) !important;
  }
}

a.accept.pending, a.decline.pending {
  background-color: #999;
}

a.decline {
  width: 30px;
  height: 30px;
  color: #FFF;
  display: inline-block;
  background: darken(#F05F5C, 20);
  padding: 0;
  border: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  &:hover {
    background: darken(#F05F5C, 20) !important;
  }
}

.info {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  background-color: #FED484;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
}

p.notes {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  background-color: #FED484;
  border-radius: 5px;
  padding: 10px;
}

.status {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  background-color: #AAB971;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
}

.error {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  background-color: #000;
  color: #FFF;
  padding: 10px;
}

header.main {
  background: #FFF;
  color: #EEE;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  a {
    color: #AAA;
}
nav {
  display: inline;
  ul, li { display: inline }
}
nav.right {
  float: right;
  display: inline;
  ul, li { display: inline }
  li {
    margin-left: 20px;
  }
}
}

.after-header {
  border-top: 1px solid #e0e0e0;
}

.left-column {
  width: 221px;
  margin-right: 20px;
  float: left;
  .column-section {
    width: 220px;
    display: block;
  }
}

.column-section {
  width: calc(100% - 241px);
  float: right;
}

.main-section {
  width: 80%;
  p {
    margin: 10px;
    margin-bottom: 0;
    color: #666;
  }
}

.column-section, .main-section {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  border-radius: 3px;
  background: #FFF;
  header {
    display: block;
    padding: 10px;
    h1 {
      font-size: 20px;
      margin: 0;
      padding-right: 47px;
    }
  }
  > div {
    padding: 10px;
    padding-top: 0px;
  }
}

.add-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 47px;
  height: 47px;
  line-height: 40px;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0 3px 0 0;
  border-left: 1px solid #DDD;
  font-size: 30px;
  font-weight: bold;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
}
}

header.title {
  border-bottom: 1px solid #EEE;
  margin-bottom: 10px;
  position: relative;
  height: 47px;
}

header.top-level-title {
  border-bottom: 1px solid #EEE;
  position: relative;
  height: 47px;
  background: #666;
  text-align: center;
  color: #EEE;
}


header {
  h1 { display: inline; margin-right: 10px; padding: 0; margin: 0;}
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline;
      }
    }
  }
}

.games {
  .box {
    padding: 10px;
    @include clearfix;
    clear: both;
    border-bottom: 1px solid #EEE;
    .image {
      float: left;
      margin-right: 10px;
    }
    header {
      display: inline;
      padding: 0;
      border-bottom: 0;
    }
    aside {
      form {
        padding: 0;
        margin: 0;
      }
      float: right;
    }
  }
}

.voted-games {
  @include outer-container;
  .box {
    @include span-columns(2);
    position: relative;
    ul.box-contents {
      font-size: 0.25em;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    padding-bottom: 10px;
  }
  .box:nth-child(6n) { @include omega(); }
  .box:nth-child(6n+1) { clear: both; }
  .box:nth-child(n+7) {
    padding-top: 30px;
  }
}

.edit_box {
  padding: 0;
  margin: 0;
}

form {
  margin: 10px;
  padding: 10px 0;
}

.back {
  position: absolute;
  top: 0;
  left: -40px;
  font-size: 70px;
  height: 100%;
  line-height: 100%;
}

.buttons {
  form, div {
    display: inline;
  }
  margin-top: 20px;
  text-align: center;

  span.accept {
    color: #009000;
  }
  span.decline {
    color: #900000;
  }
}

.attending-tag {
  font-size: 12px;
  color: #FFF;
  padding: 2px 4px;
  border-radius: 4px;
}

.is-attending {
  background-color: darken(#AAB971, 20);
}

.not-attending {
  background-color: darken(#F05F5C, 20);
}

.needs-rsvp {
  background-color: #999999;
}

.group-leave-link {
  float: right;
  color: red;
}

.group {
  border-top: 1px solid #EEE;
  padding: 5px 0;
}

.group:nth-of-type(1) {
  border: none;
}

footer {
  nav {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    a {
      background: #5E98A3;
      border-radius: 3px;
      padding: 10px;
      color: #FFF;
      &:hover {
        background: darken(#5E98A3, 20);
        color: #FFF;
      }
    }
  }
}
