body {
  font-family: $helvetica;
  background-color: #E2E2E2;
  color: #555;
}

.know {
  color: #999;
  &.active {
    color: #BBBB00;
  }
}

#dashboard {
  #groups {
    .group {
      display: inline;
    }
  }
  .group-link {
    @include button;
  }
}

header.main {
  background: #FFF;
  color: #EEE;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  a {
    color: #AAA;
  }
  nav {
    display: inline;
    ul, li { display: inline }
  }
  nav.right {
    float: right;
    display: inline;
    ul, li { display: inline }
  }
}

.after-header {
  border-top: 1px solid #e0e0e0;
}

.main-section {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background: #FFF;
  header {
    padding: 10px;
    h1 {
      font-size: 20px;
    }
  }
  > div {
    padding: 10px;
  }
}

.add-link {
  @include button(pill);
  float: right;
  margin-top: 15px;
}

header.title {
  border-bottom: 1px solid #EEE;
  margin-bottom: 30px;
}


header {
  h1 { display: inline; margin-right: 10px; padding: 0; margin: 0;}
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline;
      }
    }
  }
}

.games {
  @include outer-container;
  .box {
    @include span-columns(2);
    position: relative;
    ul.box-contents {
      font-size: 0.25em;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    padding-bottom: 10px;
  }
  .box:nth-child(6n) { @include omega(); }
  .box:nth-child(6n+1) { clear: both; }
  .box:nth-child(n+7) {
    padding-top: 30px;
    border-top: 2px solid #EEE;
    a.remove {
      top: 10px;
    }
  }
}

a.remove {
  @include hide-text;
  display: block;
  width: 42px;
  height: 42px;
  background: asset-url("close.png") top left no-repeat;
  top: -20px;
  right: -20px;
  position: absolute;
}
