body {
  font-family: $helvetica;
  background-color: #E2E2E2;
  color: #555;
}

.know {
  color: #999;
  &.active {
    color: #BBBB00;
  }
}

header.main {
  background: #FFF;
  color: #EEE;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  a {
    color: #AAA;
  }
  nav {
    display: inline;
    ul, li { display: inline }
  }
  nav.right {
    float: right;
    display: inline;
    ul, li { display: inline }
  }
}

.after-header {
  border-top: 1px solid #e0e0e0;
}

.main-section {
  position: relative;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background: #FFF;
  header {
    padding: 10px;
    h1 {
      font-size: 20px;
    }
  }
  > div {
    padding: 10px;
  }
}

.add-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 47px;
  height: 47px;
  line-height: 40px;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0 3px 0 0;
  border-left: 1px solid #DDD;
  font-size: 30px;
  font-weight: bold;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

header.title {
  border-bottom: 1px solid #EEE;
  margin-bottom: 10px;
  position: relative;
  height: 47px;
}


header {
  h1 { display: inline; margin-right: 10px; padding: 0; margin: 0;}
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline;
      }
    }
  }
}

.games {
  @include outer-container;
  .box {
    @include span-columns(2);
    position: relative;
    ul.box-contents {
      font-size: 0.25em;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    padding-bottom: 10px;
  }
  .box:nth-child(6n) { @include omega(); }
  .box:nth-child(6n+1) { clear: both; }
  .box:nth-child(n+7) {
    padding-top: 30px;
    border-top: 2px solid #EEE;
    a.remove {
      top: 10px;
    }
  }
}

a.remove {
  @include hide-text;
  display: block;
  width: 42px;
  height: 42px;
  background: asset-url("close.png") top left no-repeat;
  top: -20px;
  right: -20px;
  position: absolute;
}

form {
  margin: 10px;
  padding: 10px 0;
}

.back {
  position: absolute;
  top: 0;
  left: -40px;
  font-size: 70px;
  height: 100%;
  line-height: 100%;
}

.status {
  background: #333;
  display: block;
  width: 100%;
  color: #dfdb38;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

.buttons {
  form, div {
    display: inline;
  }
  margin-top: 20px;
  text-align: center;
  input.accept {
    @include button(#009000);
  }
  span.accept {
    color: #009000;
  }
  input.decline {
    @include button(#900000);
  }
  span.decline {
    color: #900000;
  }
}

div#members, div#locations, div#groups {
  padding-bottom: 20px;
}
